@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
    background-color: #A1A1A1;

}

header {
    background-color: #A1A1A1;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}

.user {
    display: flex;
    align-items: center;
    gap: 2%;
}

.userimg {
    width: 15%;
    height: auto;
    object-fit: contain;
}

.logo {
    display: flex;
    align-items: center;
}

.logoimg {
    width: 15%;
    height: auto;
    object-fit: contain;
}

.search {
    display: flex;
    align-items: center;
}

.searchimg {
    width: 15%;
    height: auto;
    object-fit: contain;
}

.search input {
    width: 90%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconimg {
    width: 44px;
    height: 44px;

}

.icon {
    display: flex;
    align-items: center;
}

main {
    background-color: #CFCFCF;
}

.vibor {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 10vh;
}

.vibor input {
    width: 250px;
    height: 30px;
}

.block {
    margin: 1% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color: #D9D9D9;
}

a {
    text-decoration: none;
    color: black;
}

main {
    background: linear-gradient(to right, grey, white, black, grey);
    padding: 2% 20%;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 5px solid darkgrey;
    border-radius: 20px;
    padding: 2%;
}

h2 {
    font-size: 30px;
}

input {
    width: 350px;
    height: 30px;
    text-align: center;
    margin-bottom: 2%;
    border: none;
    outline: none;
    border-radius: 6px;
}

textarea {
    width: 350px;
    height: 133px;
    text-align: center;
    margin-bottom: 2%;
    border: none;
    outline: none;
    border-radius: 6px;
    resize: none;
}

button {
    width: 150px;
    height: 30px;
    text-align: center;
    margin-bottom: 2%;
    border: none;
    outline: none;
    border-radius: 6px;
}