@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
    background-color: #A1A1A1;

}

header {
    background-color: #A1A1A1;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}

.user {
    display: flex;
    align-items: center;
    gap: 2%;
}

.userimg {
    width: 15%;
    height: auto;
    object-fit: contain;
}

.logo {
    display: flex;
    align-items: center;
}

.logoimg {
    width: 15%;
    height: auto;
    object-fit: contain;
}

.search {
    display: flex;
    align-items: center;
}

.searchimg {
    width: 15%;
    height: auto;
    object-fit: contain;
}

.search input {
    width: 90%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconimg {
    width: 44px;
    height: 44px;

}

.icon {
    display: flex;
    align-items: center;
}

main {
    background-color: #CFCFCF;
}

.vibor {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 10vh;
}

.vibor input {
    width: 250px;
    height: 30px;
}

.block {
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color: #D9D9D9;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    text-align: center;
    font-size: 35px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #bbb7b7;
    padding: 1%;
    border: #3d3d3d 3px solid;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #3d3d3d;
}

.fotoimg {
    width: 444px;
    height: 400px;
}
